$primaryColor: #db0000;
$secondaryColor: #001adb;
$fontColor: #333333;

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalweight: 400;
$mediumWeight: 500;
$boldWeight: 700;

$gutter: 16px;